*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    /* background:linear-gradient(60deg,
    blue 40%,
    white 20%,
    orange 40%),; */
    /* background: linear-gradient(
    90deg,
     rgba(255, 255, 255, 1) 0%,
     rgba(70, 130, 180, 1) 0%,
     rgba(238, 238, 238, 1) 50%,
     rgba(255, 165, 0, 1) 100%,
    ); */
    display: grid;
    place-content: center;
    position: relative;

}
html{
    font-size: 16px;
    font-family: monospace;
    color: #000;

}
.container{
    width: 90vw;
    max-width: 500px;
    background-color: #cececc;
    display: grid;
    gap: 1px;
    grid-template-areas:
    "header header header header"
    "display display display display";
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: 20px minmax(120px, auto) repeat(5, minmax(0, 70px));
    box-shadow: 4px 4px 8px 6px rgba(0, 0, 0, 0.541);
    border-radius: 5px;
    height: 80vh;
    margin: auto;

}
.marq{
    margin-bottom: 30px;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container:focus-within{
    background-color: rgba(255, 255, 255, 0.5);
}

.header{
    display: flex;
    justify-content: space-between;
    grid-area: header;
    padding: 0.25rem 0.5rem;
    align-items: center;

}
.header h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500px;
}   
#btn1{
    font-size: 11px;
    padding: 4px 20px ;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 2px black;
}
#btn1:hover{
    transform: scale(0.95);
    background-color: rgba(217, 0, 255, 0.355);
} 
.display{
    grid-area: display;
    padding: 3px 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}
.previousvalue{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.currentvalue{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: bolder;
    background-color: transparent;
     border: none; 
     outline: none;  
    text-align: right;
    
}
button{
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: whitesmoke;
     border: none; 
    outline: none;
}
button:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
button:active{
    background-color: rgba(255, 255, 255, 0.2);
}
.function{
    background-color: rgba(235, 235, 235);
}

.equals{
    background-color: rgb(225, 4, 254);
}
.equals:hover{
    background-color: steelblue;
    filter: brightness(120%);
}
.equals:active {
    background-color: steelblue;
    filter: brightness(120%);
}
/* .equals {
    --border-radius: 15px;
    --border-width: 4px;
    appearance: none;
    position: relative;
    padding: 1em 2em;
    border: 0;
    background-color: #212121;
    font-family: "Roboto", Arial, "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    z-index: 2;
   }
   
   .equals::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(
           #488cfb,
           #29dbbc,
           #ddf505,
           #ff9f0e,
           #e440bb,
           #655adc,
           #488cfb
       );
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 500ms infinite;
    animation-play-state: paused;
   }
   
   .equals:hover::after {
    animation-play-state: running;
   }
   
   @keyframes rotate-hue {
    to {
     filter: hue-rotate(1turn);
    }
   }
   
   .equals,
   .equals::after {
    box-sizing: border-box;
   }
   
   button:active {
    --border-width: 5px;
   } */

   @media screen and (min-width: 760px) {
    html{
        font-size: 22px;
    }
    .container{
        grid-template-rows: 35px minmax(95px, auto) repeat(5, minmax(0, 95px));
    }
    
   }
   article{
    display: flex;
    gap: 5px;
   }

    .history{
   
    position: fixed;
     left: 40%;
    top: 10%;
    width: 200px;
    height: 100px;
    overflow-y: scroll;
    font-size: 1.1em;
    background-color: rgb(249, 5, 249);
    padding: 10px 20px;
    box-shadow: 4px 4px 8px 6px rgba(0, 0, 0, 0.541);
    border-radius: 5px;

   }
   
   
   #history::-webkit-scrollbar{
    width: 0;
   }
   #history h3{
    padding: 5;
    font-size: 1.2em;
   

   } 
   #history p:last-child{
    font-size: 1.3em;
    font-weight: 500;
    color: #eee; 

   }
    
   .active{
    /* left: 30%; */
    position: fixed;
    /* left: 35%;
   top: 10%;
   width: 150px;
   height: 100px;
   overflow-y: scroll;
   font-size: 1.1em;
   background-color: rgb(249, 5, 249);
   padding: 10px 20px;
   box-shadow: 4px 4px 8px 6px rgba(0, 0, 0, 0.541);
   border-radius: 5px; */
     top: 15%; 
     transition:  .6s;
}
   

